DATABRICKS_HOST=https://dbc-13a5ebc6-7820.cloud.databricks.com
DATABRICKS_WAREHOUSE_ID=your_sql_warehouse_id
PGDATABASE=databricks_postgres
LAKEBASE_ENDPOINT=projects/hackathon-app/branches/production/endpoints/primary
PGHOST=your_lakebase_host
PGPORT=5432
PGSSLMODE=require
DATABRICKS_APP_PORT=8000
DATABRICKS_APP_NAME=hackathon-app
FLASK_RUN_HOST=0.0.0.0
